{% extends "layout.html" %}
{% block content %}
   <section class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <header>The Football Transfer Window</header>
        <article class="text">
            <p>Welcome to this football transfers site, all data has been compiled using the <a id="link" href = "http://www.transfermarkt.com">
            transfermarkt</a> website and all transfer data is in Euro.</p>
        </article>
       <header>What data is involved?</header>
        <article class="text">
            <p>The data in this database spans 10 premier league seasons. The year symbolises the year in which each season ended for example,
            2011 encompasses the 2010-11 season. Two types of transfer are recorded; a full transfer and a loan with a fee - free transfers and loans which didn't
            involve a fee were not recorded. The data is only recorded if a team was in the Premier League that season, if a team has been up and down
            their transfer data is only recorded for the seasons they were in the league. The transfer data is for both the Summer and January transfer windows,
            they are not split into the different windows.</p>
        </article>
        <header>What is the dashboard for?</header>
        <article class="text">
            <p>The dashboard provides visual displays of the data from net spend to splitting the transfer value into groups.
            The charts are fully interactive and you can select a specific club or season to look for specific data. There
            are also simple number displays for the number of transfers completed, the total net spend and the highest value
            transfer. This allows for comparisons to be made across seasons in general and allows for the tracking of an individual teams spending.</p>
        </article>
       <header>What does each chart show?</header>
        <article class="text">
            <p>To discover what each chart is showing click the 'Chart Tour' button on the dashboard page - this will go through each chart and
            give an explanation as to what each chart is displaying.</p>
        </article>
   </section>
{% endblock %}