{% extends "layout.html" %}
{% block content %}
   <div class="text-div">
        <h1 align="center">The Football Transfer Window</h1>
        <p align="center">Welcome to this football transfers site, all data has been compiled using <a id="link" href = "http://www.transfermarkt.com">
            transfermarkt</a> and all data is in Euro.</p>
        <h3 class="header">What data is involved?</h3>
        <p>The data in this database spans 10 premier league seasons. The year symbolises the year in which each season ended.
        Two types of transfer are recorded - a full transfer and a loan with a fee, free transfers and loans which didn't
        involve a fee were not recorded.</p>
        <h3 class="header">What is the dashboard for?</h3>
        <p>The dashboard provides visual displays of the data from net spend to splitting the transfer value into groups.
        The charts are fully interactive and you can select a specific club or season to look for specific data.There
        are also simple number displays for the number of transfers completed, the total net spend and the highest value
            transfer.</p>
        <h3 class="header">What does each chart show?</h3>
        <p>To discover what each chart is showing click the 'Chart Tour' button - this will go through each chart and
        give an explanation as to what each chart is displaying.</p>
   </div>
{% endblock %}