{% extends "layout.html" %}
{% block content %}
    <section class="row">
        <article class="dashboard-text">
            <p>Welcome to the Football Transfers Dashboard, just click the chart tour button to get further explanation for each chart.
            <button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">Chart Tour!</button>
            </p>
        </article>
    </section>

    <section class="row">
         <article class="col-sm-6 chart-container " data-step="1"
         data-intro="This is a line graph showing the net spend per season in millions" style="font-weight: normal" data-position="center">
             <header class="chart-header">
                 Net Spending:
             </header>
             <article class="chart-wrapper">
                 <article id="netChart" class="chart">
                 </article>
             </article>
         </article>

        <article class="col-sm-6 chart-container" data-step="2"
        data-intro="This is a row chart, this splits the transfer values into groups and shows how many transfers occur
        in each group" style="font-weight: normal" data-position="center">
             <header class="chart-header">
                 Transfer Value Groups:
             </header>
             <article class="chart-wrapper">
                <article id="valueChart" class="chart">
                </article>
             </article>
        </article>
    </section>

    <section class="row">
         <article class="col-sm-6 chart-container" data-step="3"
         data-intro="This is a row chart displaying the amount spent and received" style="font-weight: normal" data-position="center">
             <header class="chart-header">
                 Transfers In and Out:
             </header>
             <article class="chart-wrapper">
                <article id="spendingChart" class="chart">
                </article>
             </article>
         </article>

         <article class="col-sm-6 chart-container" data-step="4"
         data-intro="This is a pie chart showing the proportion of transfers and loans with fees" style="font-weight: normal" data-position="center">
             <header class="chart-header">
                 Transfer Type:
             </header>
             <article class="chart-wrapper">
                <article id="type-row-chart" class="chart">
                </article>
             </article>
         </article>
    </section>

    <section class="row">
        <article class="col-sm-3 mini-chart-container" data-step="5"
        data-intro="This is a drop down menu to allow the selection of a particular club" style="font-weight: normal" data-position="center">
            <header class="mini-chart-header">
                Select a Club:
            </header>
                <article id="club-select">
                </article>
        </article>

        <article class="col-sm-3 mini-chart-container" data-step="6"
        data-intro="This is a drop down menu to allow the selection of a single season" style="font-weight: normal" data-position="center">
            <header class="mini-chart-header">
                Select a Season:
            </header>
                <article id="season-select">
                </article>
        </article>

         <article class="col-sm-3 mini-chart-container" data-step="7"
         data-intro="This displays the total number of transfers" style="font-weight: normal" data-position="center">
            <header class="mini-chart-header">
                Transfers:
             </header>
             <article id="total-number">
             </article>
         </article>

         <article class="col-sm-3 mini-chart-container" data-step="8"
         data-intro="This displays the net spend" style="font-weight: normal" data-position="center">
             <header class="mini-chart-header">
                 Net Spend:
             </header>
             <article id="total-net">
             </article>
         </article>
    </section>
{% endblock %}