{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 text-div">
            <p>Welcome to the Dashboard, click the button for chart explanations.
            <button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">Start Tour!</button>
            </p>
        </div>
    </div>
    <div class="row">
         <div class="col-sm-6 chart-div" data-step="1"
         data-intro="This is a bar graph showing the total transfer values going in and out" style="font-weight: normal" data-position="center">
             <div class="chart-header">
                 Net Spending:
             </div>
             <div id="netChart">
             </div>
         </div>
        <div class="col-sm-6 chart-div" data-step="2"
         data-intro="This is a pie chart displaying transfer values " style="font-weight: normal" data-position="center">
             <div class="chart-header">
                 Transfer Value Groups:
             </div>
             <div id="valueChart">
             </div>
        </div>
    </div>
    <div class="row">
         <div class="col-sm-6 chart-div" data-step="3"
         data-intro="This is a line graph showing the net spend" style="font-weight: normal" data-position="center">
             <div class="chart-header">
                 Transfers In and Out:
             </div>
             <div id="spendingChart">
             </div>
         </div>
         <div class="col-sm-6 chart-div" data-step="4"
         data-intro="This is a side bar chart showing the amount of transfers and loans" style="font-weight: normal" data-position="center">
             <div class="chart-header">
                 Transfer Type:
             </div>
             <div id="type-row-chart">
             </div>
         </div>
    </div>
    <div class="row">
         <div class="col-sm-3 mini-div" data-step="5"
         data-intro="This is a drop down menu to allow the selection of a club" style="font-weight: normal" data-position="center">
            <div class="chart-header">
                Select a Club:
            </div>
             <div id="club-select">

             </div>
         </div>
         <div class="col-sm-3 mini-div" data-step="6"
         data-intro="This display the total number of transfers" style="font-weight: normal" data-position="center">
             <div class="chart-header">
                 Number of Transfers:
             </div>
             <div id="total-number">
             </div>
         </div>
         <div class="col-sm-3 mini-div" data-step="7"
         data-intro="This displays the net spend" style="font-weight: normal" data-position="center">
             <div class="chart-header">
                 Net Spend:
             </div>
             <div id="total-net">
             </div>
         </div>
         <div class="col-sm-3 mini-div" data-step="8"
         data-intro="This displays the most expensive player" style="font-weight: normal" data-position="center">
             <div class="chart-header">
                 Most Expensive Transfer:
             </div>
             <div id="most-expensive">

             </div>
         </div>
    </div>
{% endblock %}