{% extends "layout.html" %}
{% block content %}
    <div class="col-lg-12 text-div">
        <h3 class="header">What can we see?</h3>
        <p align="center">This page outlines some of the trends discovered in the creation of the dashboard</p>
        <h3 class="header">Spending Increase</h3>
        <p>From the net spend chart we can see that there has been a steady increase in net spend from Premier League clubs,
        since 2012 net spending has risen by half a billion Euro from just over 200 million to just over 700 million. </p>
        <h3 class="header">Transfer Value Groups</h3>
        <p>From the row chart we can see that the vast majority of transfers are below 20 million Euro.
        </p>

        <h3 class="header">Full transfers versus Loans</h3>
        <p>This pie chart shows that Premier League clubs rarely dip into the loan market and focus on permanent transfers
            instead.
        </p>
    </div>
{% endblock %}