{% extends "layout.html" %}
{% block content %}
    <section class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <!--Trends introduction-->
        <header>What do that charts show?</header>
        <article class="text">
            <p>This page aims to outline some of the trends the charts display, from who the big spenders are to the general
                spending habits of Premier League clubs. We also look at the types of transfers Premier League clubs use.</p>
        </article>
        <!--End of introduction-->

        <!--Trend one-->
        <header>Spending Increase</header>
        <article class="text">
            <p>From the first chart we can see that there has been a general steady increase in net spend from Premier League clubs,
            this has grown by nearly half a billion pounds in the past 10 seasons from just under 300 billion to over 700 million Euro.
            This indicates that Premier League clubs are spending more and more money on players outside of the league.
            </p>
        </article>
        <!--End of trend one-->

        <!--Trend two-->
        <header>Big Spenders</header>
        <article class="text">
            <p>If we look through the transfer histories of various teams we can see that Manchester City are far and away the
                leagues biggest spenders in the past 10 seasons with an eye-watering net spend of close to 1 BILLION Euro (845M).
                This is more than double their closest net spending rival, Manchester United, on 418M Euro.
            </p>
        </article>
        <!--End of trend two-->

        <!--Trend three-->
        <header>Transfer Values</header>
        <article class="text">
            <p>From the row chart if we toggle through the seasons we can see that there were only 4 transfers of the value 20M
                or above in the 2006/07 transfer windows, this has more than quadrupled to 18 in the 2015/16 transfer windows with
                4 of them being 50M or above.
            </p>
            <p>By toggling through the seasons we can see the overall trend of an increase in general of transfer values.
            </p>
        </article>
        <!--End of trend three-->

        <!--Trend four-->
        <header>Transfer Types</header>
        <article class="text">
            <p>The transfer type pie chart shows us that loans with fees are very rarely used by Premier League clubs, the proportion
                of loans with fees in relation to full transfers has held steady over the years. There was however an increase in loans
                with fees in the 2013/14 season which hit almost 1/5 of transfers.
            </p>
        </article>
        <!--End of trend four-->
    </section>
{% endblock %}